<html>
  <head><title>Rack test</title></head>
  <body>
    <h1><%= title %></h1>
    <% (1..9).each do |y| %>
      <p>
        y = <%= y %>
      </p>
    <% end %>
    <%(1..9).each do |x|%>
      <%(1..9).each do |y|%>
        <p>
          <%= x %> * <%= y %> = <%= x*y %>
        </p>
      <% end %>
    <% end %>
  </body>
</html>
